
@@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1800px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #74a9b6;
    
  }
.container {
  height: 100vh; /* 100% da altura da janela */
}

  p{
    color: white;
  font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

#slogan {
  color: brown;
  font-size:24px;
   
}

  h1 {
    color: black;
     font-size: 28px;
    text-align: center;
  }


  p {
    text-align: center;
  }

  .botao{
    border-radius: 5px;
    background-color: rgba(218, 218, 10, 0.855);
    color: blue;
    display: inline-block;
   margin: 10px;
   font-size: 18;
  }

h2{
  color: Black;
  font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  margin: 20px;
  text-align: center;
}

  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
  margin: 0 auto;

  }

.galeria img {
  display: block;
  width: 250x;
  height: 250px;
  object-fit: cover;
  margin: 15px;
  border: 5px solid rgb(153, 143, 143);
  max-width: 100%;
}
}


@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
 {
   .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
  margin: 0 auto;
  }
     
  .gallery img {
    max-width: 100%;
    height: auto;
    display:block;
  }
     
     body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
       background-color: #74a9b6;
     }
}


  
